 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 606px;
}

.u-section-1 .u-image-1 {
  width: 410px;
  height: 508px;
  margin: 38px 34px 0 auto;
}

.u-section-1 .u-group-1 {
  width: 570px;
  min-height: 462px;
  height: auto;
  margin: -462px auto 60px 79px;
}

.u-section-1 .u-container-layout-1 {
  padding-top: 0;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 151px 20px 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  letter-spacing: 2px;
  margin: 12px 20px 0;
}

.u-section-1 .u-line-1 {
  width: 102px;
  height: 10px;
  transform-origin: left center 0px;
  margin: 34px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 712px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 58px;
    margin-right: -14px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -505px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    margin-top: -462px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 678px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 34px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 448px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 421px;
    margin-right: 0;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-top: -375px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-2 {
  background-image: url("images/48b2c52f1c47dd51c70dd8be3b35c0b7.png");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 399px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: -24px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 353px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  font-size: 3rem;
  margin: 147px 30px 0 12px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-layout-cell-2 {
  background-image: none;
  min-height: 353px;
}

.u-section-2 .u-image-1 {
  width: 149px;
  height: 103px;
  margin: 41px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 3rem;
  font-weight: normal;
  margin: 12px 21px 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-layout-cell-3 {
  background-image: none;
  min-height: 353px;
}

.u-section-2 .u-text-3 {
  font-size: 3rem;
  font-weight: normal;
  margin: 156px 21px 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 267px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 410px;
  }

  .u-section-2 .u-text-1 {
    position: relative;
    margin-top: 44px;
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 412px;
  }

  .u-section-2 .u-text-2 {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 360px;
  }

  .u-section-2 .u-text-3 {
    position: relative;
    margin-left: 17px;
    margin-right: 17px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 76px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 483px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 404px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 404px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 46px;
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 176px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 68px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 67px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 308px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 56px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 316px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 332px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 69px;
    margin-left: 6px;
    margin-right: 6px;
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("https://images01.nicepage.io/e0/cd/e0cd5b9c022703abe1039b862844f5d3.png");
  background-position: 50% 50%;
  min-height: 486px;
}

.u-section-3 .u-group-1 {
  width: 699px;
  min-height: 90px;
  height: auto;
  margin: 29px auto 0;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  font-size: 3rem;
  margin: 18px 0 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 77px;
  margin-bottom: 60px;
}

.u-section-3 .u-image-1 {
  background-image: url("images/3c47732aa688823b96f857f8b37921b6.png");
  min-height: 213px;
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-3 .u-text-2 {
  margin: 37px auto 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-text-3 {
  margin: 33px 29px 0 37px;
}

.u-section-3 .u-image-2 {
  background-image: url("images/4f3da4eba3d2366ce6221f1e03b40613.png");
  min-height: 213px;
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-3 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-3 .u-text-4 {
  margin: 39px 0 0 95px;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-text-5 {
  margin: 35px 0 0 20px;
}

.u-section-3 .u-image-3 {
  background-image: url("images/dd4db488414e6c0c5da16ec553d57966.png");
  min-height: 213px;
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-4 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-3 .u-text-6 {
  width: 131px;
  margin: 37px auto 0;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-text-7 {
  margin: 33px 29px 0 37px;
}

.u-section-3 .u-image-4 {
  background-image: url("images/a7a4b738c399a8a2bff340a4ee1e90f9.png");
  min-height: 213px;
  background-position: 50% 50%;
}

.u-section-3 .u-image-5 {
  background-image: url("images/48b2c52f1c47dd51c70dd8be3b35c0b7.png");
  min-height: 213px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 357px;
  }

  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-1 {
    position: relative;
  }

  .u-section-3 .u-image-1 {
    min-height: 248px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 9px;
    margin-left: 17px;
  }

  .u-section-3 .u-image-2 {
    min-height: 176px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 55px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
  }

  .u-section-3 .u-image-3 {
    min-height: 248px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 9px;
    margin-left: 17px;
  }

  .u-section-3 .u-image-4 {
    min-height: 248px;
  }

  .u-section-3 .u-image-5 {
    min-height: 248px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 934px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 98px;
  }

  .u-section-3 .u-image-2 {
    min-height: 674px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 1911px;
  }

  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 102px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-image-2 {
    min-height: 506px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 1260px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 26px;
  }

  .u-section-3 .u-image-2 {
    min-height: 319px;
  }
}